body {margin:0;
      background-color:#000000}

.render-btn {
    height: 24px;
    color: #f2f2f2;
    background: linear-gradient(to bottom,#58b239 0%,#2b7b26 100%);    
    border: 0;
}

.fullscreen-btn {
	 height: 24px;
     color: #f2f2f2;
     background: linear-gradient(to bottom,#58b239 0%,#2b7b26 100%);    
     border: 0;
}

.download-btn {
	 height: 24px;
     border: 0;
}

#julia {
left:0px;
top:0px;
z-index:10;
margin-left:auto;
margin-right:auto;
display:block;
}

#form{
position:absolute;
left:0px;
top:0px;
z-index:100000	;
}
